<form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="registerTab d-flex flex-column justify-content-between">
        <div class="d-flex flex-column align-items-center">

            <div class="inputDiv mt-3 d-flex">
                <mat-form-field>
                    <input required type="text" matInput placeholder="Nom" formControlName="nom">
                </mat-form-field>
                <mat-form-field>
                    <input required type="text" matInput placeholder="Prénom" formControlName="prenom">
                </mat-form-field>
            </div>

            <div class="inputDiv d-flex">
                <mat-form-field>
                    <input required type="email" matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <input required type="text" matInput placeholder="Pseudo" formControlName="pseudo">
                </mat-form-field>

            </div>

            <div class="inputDiv d-flex">
                <mat-form-field>
                    <input required type="password" matInput placeholder="Mot de passe" formControlName="password">
                </mat-form-field>
                <mat-form-field>
                    <input required type="password" matInput placeholder="Confirmation mdp" formControlName="passwordConfirm">
                </mat-form-field>
            </div>

            <div class="inputDiv d-flex">
                <mat-form-field>
                    <input required type="date" matInput placeholder="Date de naissance" formControlName="dateNaissance">
                </mat-form-field>
            </div>
          <div class ="inputDiv d-flex">
            <mat-form-field>
              <input required type="text" maxlength="20" matInput placeholder="Pseudo du parrain" formControlName="parrain">
            </mat-form-field>
          </div>

        </div>
        <p class="error">
            {{ error }}
        </p>
        <p class="success">
            {{ success }}
        </p>
        <div class="button">
            <button type="submit" mat-button>S'ENREGISTRER</button>
        </div>
    </div>
</form>
