.registerTab {
    height: 26.95em;
}

.error {
    text-align: center;
    width: 100%;
    color: red;
}

.success {
    text-align: center;
    width: 100%;
    color: rgb(98, 197, 52);
}

button {
    font-size: 1.5em;
    font-weight: 200;
    border-radius: 0 0 10px 0;
    width: 100%;
    background-color: #f3e928;
}

::ng-deep .mat-form-field-underline {
    background-color: #f3e928 !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: #f3e928 !important;
}