<div class="navbar">
    <div>
        <div class="logo"> <img src="../../assets/img/lbb.png" alt="Logo"></div>
    </div>
    <div class="menuElements">
    </div>
    <div class="account ">
        <button class="menuItem account" mat-button [matMenuTriggerFor]="menu">
            
            <img src="../../../assets/img/account.png" class="userImg"> 
        </button>
        <mat-menu #menu="matMenu">
            <a routerLink="/profil" mat-menu-item>Mon compte</a>
            <button (click)="logout()" mat-menu-item>Déconnexion</button>
        </mat-menu>
    </div>
</div>