.navbar {
    background-color: #ededed;
    height: 4em;
    padding: 0;
    border-bottom: 1px solid #0d3897;
}

.menuItem {
    height: 4em;
}

.logo {
    background-color: transparent;
    border: none;
    border-right: 1px solid #0d3897;
}

.account {
    padding: 0;
    width: 4em;
    border-radius: 150px;
}

.userImg {
    border-radius: 150px;
}

img {
    height: 4em;
}