:host {
    height: 100%;
}

.block-row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileCard {
    border-radius: 10px;
    background-color: #fff;
    width: 30em;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.avatar {
    width: 15em;
    height: 15em;
    border-radius: 150px;
    box-shadow: inset 9.91px 9.91px 15px #E8E8E8, inset -9.91px -9.91px 15px #FFFFFF;
}

.name {
    font-size: 2em;
    font-weight: 500;
}

.bets {
    width: 100%;
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
}

#col1,
#col2 {
    border-right: 1px solid rgb(230, 230, 230);
}

.betCount {
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 0;
    text-align: center;
}

.betName {
    text-align: center;
}

.bad {
    color: rgba(255, 0, 0, 0.699);
}

.good {
    color: rgb(41, 151, 41);
}

.middle {
    color: rgb(255, 173, 50);
}

.personnalinformations {
    width: 95%;
}

.line {
    height: 3em;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.line p {
    text-align: center;
    padding: 0;
    margin: 0;
}

#lastLine {
    border-bottom: 0px;
}