<div class="block-row">
    <div class="profileCard d-flex flex-column align-items-center">
        <div class="imgDiv mt-3">
            <img class="avatar" src="{{user.avatarUrl}}">
        </div>
        <div class="name">{{user.prenom}} {{user.nom}}</div>
        <div class="nickname mb-3">Aka <strong>{{user.pseudo}}</strong></div>
        <div class="bets row">
            <div class="col" id="col1">
                <p class="betCount">{{user.parisGagnes}}</p>
                <p class="betName good">Gagnés</p>
            </div>
            <div class="col" id="col2">
                <p class="betCount">{{user.parisPerdus}}</p>
                <p class="betName bad">Perdus</p>
            </div>
            <div class="col" id="col3">
                <p class="betCount" [ngClass]="{'good': (user.parisGagnes / user.parisPerdus)>1 , 'bad': (user.parisGagnes / user.parisPerdus)<1, 'middle': (user.parisGagnes / user.parisPerdus)==1}">{{user.parisGagnes / user.parisPerdus | number:'1.0-2'}}</p>
                <p class="betName">Ratio.</p>
            </div>
        </div>

        <div class="personnalinformations">
            <div class="row line d-flex align-items-center">
                <p class="col-4">Email: </p>
                <p class="col-8">{{user.email}}</p>
            </div>
            <div class="row line d-flex align-items-center">
                <p class="col-4">Date de naissance: </p>
                <p class="col-8">{{user.dateNaissance | date:'dd MMMM yyyy' }}</p>
            </div>
            <div class="row line d-flex align-items-center">
                <p class="col-4">IBAN: </p>
                <p *ngIf="user.iban!=null" class="col-8">{{user.iban}}</p>
                <p *ngIf="user.iban==null" class="col-8">[Iban vide]</p>

            </div>
        </div>

    </div>
</div>