.loginTab {
    height: 26.95em;
}

.inputDiv {
    width: 20em;
}

::ng-deep mat-form-field {
    width: 100%;
}

.error {
    text-align: center;
    width: 100%;
    color: red;
}

button {
    font-size: 1.5em;
    font-weight: 200;
    border-radius: 0 0 10px 0;
    width: 100%;
    background-color: #f3e928;
}

::ng-deep .mat-form-field-underline {
    background-color: #f3e928 !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: #f3e928 !important;
}