<form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="loginTab d-flex flex-column justify-content-between">
        <div class="d-flex flex-column align-items-center">
            <div class="inputDiv mt-5">
                <mat-form-field>
                    <input required type="email" matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </div>

            <div class="inputDiv">
                <mat-form-field>
                    <input required type="password" matInput placeholder="Mot de passe" formControlName="password">
                </mat-form-field>
            </div>
        </div>
        <p class="error">
            {{ error }}
        </p>
        <div class="button">
            <button type="submit" mat-button>CONNEXION</button>
        </div>
    </div>
</form>