:host {
    height: 100%;
}

.block-row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    background-color: #ededed;
    width: 45em;
    height: 30em;
    box-shadow: 35px 35px 70px #c9c9c9, -35px -35px 70px #ffffff;
}

.half {
    width: 50%;
}

#left-part {
    border-radius: 12px 0 0 12px;
    background-color: #ededed;
    font-family: "Kindergarten";
}

#logo {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}

::ng-deep .mat-tab-label {
    font-size: 1.3em;
    font-weight: 100;
}

::ng-deep .mat-ink-bar {
    background-color: #f3e928 !important;
}

::ng-deep .mat-tab-body-wrapper {
    height: 27em;
}