<div class="block-row">
    <div class="auth-card">
        <div class="half d-flex flex-column justify-content-center" id="left-part">
            <img id="logo" src="../../assets/img/lbb.png">
            <h1 class="text-center">La plateforme de paris sportifs des prolos</h1>

        </div>
        <div class="half">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Login">
                    <app-login></app-login>
                </mat-tab>
                <mat-tab label="Register">
                    <app-register></app-register>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>


</div>