/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Kindergarten";
    src: local("Kindergarten"), url(./assets/fonts/kindergarten.ttf/kindergarten.ttf) format("truetype");
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #ededed;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}